/*Universal Styling of CSS*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*root variables that repeat throughout the style sheet*/
:root {
    --primary-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --primary-color: #FDF8F5;
    --background: midnightblue;
}

/*gave a universal background for the entire webpage*/
body {
    background-color: var(--background);
}

/*Styling for header*/
header {
    padding: 30px;
    font-family:Arial, Helvetica, sans-serif; 
    color: var(--primary-color);
}

h1 {
    display: inline-block;
    font-size: 50px;
    font-style: oblique;
} 

/*Styling for nav area to achieve the horizontal links*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 30px;
    font-family: var(primary-font-family);
}

ul {
    list-style-type: none;
}
li {
    display: inline-block;
    margin-right: 35px;
    font-size: 30px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

/*centering the backsplash with the quote to cover the entire section across the screen*/
.hero {
    height: 300px;
    background-image: url("../images/Grand-Canyon.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 8px solid;
    border-top: 8px solid;
}
.hero h2 {
    font-family: var(primary-font-family);
    font-size: 30px;
    color: var(--primary-color);
    background: #8a5619;
    margin-bottom: 200px;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 50px;
    margin: revert;
}

h2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/*Styling for the Container holding the About Me section*/
.container {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
}

/*This will style the titles about me, projects, and contact*/
.container-title {
    width: 15%;
    font-size: 40px;
    font-weight: bold;
    font-family: var(primary-font-family);
    text-align: right;
    padding-right: 40px;
    margin-right: 10px;
    border-right: solid #FDF8F5 4px;
    color: var(--primary-color);
}

/*styling container to hold the paragraph and picture*/
.container-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*inserting my headshot in the container*/
.profile-picture {
    background-image: url("../images/headshot.png");
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-position: center;
}

.container-content p {
    width: 70%;
    margin-left: 10px;
    font-size: 22px;
    color: var(--primary-color);
    line-height: 1.5;
    font-family: var(primary-font-family);
}
/*styling for the boxes layout*/
.grid-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: 70%;
    width: 70%;
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 70px;
}
/*styling the first project to look bigger, 
(!important) is used to overwrite over 
other elements to take effect.*/
.project-1 {
    width: 100% !important;
}

.web-image {
    border: 4px solid #FDF8F5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: var(--background);
    width: 50%;
}

.screenshot {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    transition: 0.5s;
}

.screenshot:hover {
    opacity: 1;
}

.image-title {
    position: absolute;
    width: 100px;
    padding: 10px 15px;
    margin-bottom: 20px;
    background: var(--background);
    border-radius: 0 15px 15px 0;
    text-align: left;
    color: var(--primary-color);
}

.image-title h3 {
    font-size: 14px;
    font-family: var(primary-font-family);
}

.image-title p {
    font-size: 10px;
    font-family: var(primary-font-family);
}

/*styling contact me section*/ 
.container-contact {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: var(primary-font-family);
    font-size: 30px;
    padding-left: 25px;
}

.container-contact a {
    padding: 25px;
}

.container-contact a:hover {
    background: #4293c2;
    transition: 0.5s;
}

/* footer styling */
footer {
    height: 60px;
    border-top: 4px solid black;
    text-align: center;
    color: var(--primary-color);
}

footer div {
    color: var(--primary-color);
    font-family: var(primary-font-family);
    font-size: 16px;
    padding-top: 30px;
}
/*Media Queries for resizing for smaller screens*/
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 30px; 
    } 
    li {
        font-size: 20px;
    }
    .container-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 25px;
    }
    li {
        font-size: 16px;
    }
    .container-title {
        font-size: 25px;
    }
}
@media screen and (max-width: 425px) {
    nav {
        float: none;
    }
    .container {
        display: inline;
    }
    .container-title {
        width: 100%;
        text-align: center;
        border-right: none;
        border-bottom: solid #FDF8F5 4px;
        padding-bottom: 10px;
    }
    .container-content p {
        font-size: 16px;
    }
    .container-contact {
        font-size: 18px;
    }
}