* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --primary-color: #FDF8F5;
    --background: midnightblue;
}
body {
    background-color: var(--background);
}

header {
    padding: 30px;
    font-family:Arial, Helvetica, sans-serif; 
    color: var(--primary-color);
}

h1 {
    display: inline-block;
    font-size: 50px;
    font-style: oblique;
} 

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 30px;
    font-family: var(primary-font-family);
}

ul {
    list-style-type: none;
}
li {
    display: inline-block;
    margin-right: 35px;
    font-size: 40px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.hero {
    height: 300px;
    background-image: url("../images/Grand-Canyon.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 8px solid;
    border-top: 8px solid;
}
.hero h2 {
    font-family: var(primary-font-family);
    font-size: 30px;
    color: var(--primary-color);
    background: #8a5619;
    margin-bottom: 200px;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 50px;
    margin: auto;
}

h2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
}

.container-title {
    width: 15%;
    font-size: 60px;
    font-weight: bold;
    font-family: var(primary-font-family);
    text-align: right;
    padding-right: 20px;
    margin-right: 10px;
    border-right: solid #FDF8F5 4px;
    color: var(--primary-color);
}

.container-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-picture {
    background-image: url("../images/headshot.png");
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-position: center;
}

.container-content p {
    width: 70%;
    margin-left: 10px;
    font-size: 22px;
    color: var(--primary-color);
    line-height: 1.5;
    font-family: var(primary-font-family);
}

.grid-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
}

.grid-layout {
    display: grid;
    gap: 15px 15px;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr .5fr .5fr;
    grid-template-areas: 
       "project-1 project-1"
       "project-2 project-3"
       "project-4 project-5";
}

.project-1 { grid-area: project-1; }
.project-2 { grid-area: project-2; }
.project-3 { grid-area: project-3; }
.project-4 { grid-area: project-4; }
.project-5 { grid-area: project-5; }

.project-image {
    border: 4px solid #FDF8F5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--background);
}

.screenshot {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    transition: 0.5s;
}

.screenshot:hover {
    opacity: 1;
}

.image-title {
    position: absolute;
    width: 100px;
    padding: 10px 15px;
    margin-bottom: 20px;
    background: var(--background);
    border-radius: 0 15px 15px 0;
    text-align: left;
    color: var(--primary-color);
}

.image-title h3 {
    font-size: 14px;
    font-family: var(primary-font-family);
}

.image-title p {
    font-size: 10px;
    font-family: var(primary-font-family);
}

.container-contact {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: var(primary-font-family);
    font-size: 30px;
    padding-left: 25px;
}

.container-contact a {
    padding: 25px;
}

.container-contact a:hover {
    background: #4293c2;
    transition: 0.5s;
}


/* footer styling */
footer {
    height: 60px;
    border-top: 4px solid black;
    text-align: center;
    color: var(--primary-color);
}

footer div {
    color: var(--primary-color);
    font-family: var(primary-font-family);
    font-size: 16px;
    padding-top: 30px;
}
/* media queries */
@media screen and (max-width: 1292px) {
    .container-content {
        display: inline;
    }

    .container-content p {
        width: 100%;
    }

    .profile-picture{
        float: left;
        margin-right: 15px;
    }

    .container-contact {
        display: flex;
    }
}
@media screen and (max-width: 1028px) {
    header  {
        padding-bottom: 0;
        position: relative;
        justify-content: center;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
    }
    
    .grid-layout {
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(4, 100px);
    }

    .screenshot {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    main {
        padding: 0 15px;
    }
    .container {
        display: inline;
    }

    .container-title {
        width: 100%;
        text-align: center;
        border-right: none;
        border-bottom: solid black 4px;
        margin: 20px 0;
        padding: 0;
        padding-bottom: 10px;
    }

    .container-contact {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    header nav ul {
        justify-content: space-around;
    }
    
    header nav ul li a {
        margin-top: 10px;
    }
}

